<template>
  <b-navbar toggleable="lg" type="dark" class="header">
    <font-awesome-icon icon="bars" siza="3x" />
    <b-navbar-brand href="#">
      <span> {{ pageTitle }}</span>
    </b-navbar-brand>
  </b-navbar>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class AppHeader extends Vue {
  @Prop() pageTitle!: string;
}
</script>
<style>
.header {
  background-color: #8353c5;
}
</style>
