<template>
  <div class="sidebar">
    <b-nav vertical class="w-100 text-sm-left">
      <span><br /></span>
      <span><br /></span>
      <span><br /></span>
      <b-nav-item>
        <router-link to="/">
          <span> Home</span>
        </router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/about"><span> About</span></router-link>
      </b-nav-item>
    </b-nav>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class AppSidebar extends Vue {}
</script>
<style>
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-color: #ffe6e6bd;
}
</style>
