<template>
  <div>
    <AppHeader pageTitle="About" />
    <Me />
    <Skills />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AppHeader from "@/shared/AppHeader.vue";
import Me from "@/components/Me.vue";
import Skills from "@/components/Skills.vue";

@Component({
  components: {
    AppHeader,
    Me,
    Skills
  }
})
export default class About extends Vue {}
</script>
