<template>
  <div>
    <AppHeader pageTitle="Home" />
    <movie-list />
    <!-- <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" /> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src
import AppHeader from "@/shared/AppHeader.vue";
import MovieList from "@/components/MovieList.vue";

@Component({
  components: {
    HelloWorld,
    AppHeader,
    MovieList
  }
})
export default class Home extends Vue {}
</script>
