<template>
  <div>
    <b-modal
      ref="comment-modal"
      id="comment-modal"
      title="Laissez un commentaire"
    >
      <!-- <p>Commentaires {{ movieID }} - {{ comment }}</p> -->
      <b-form @submit="onSubmit">
        <b-form-textarea
          id="textarea"
          v-model="comment"
          placeholder="Enter something..."
          rows="3"
          max-rows="6"
        >
        </b-form-textarea>
        <b-button type="submit" variant="primary">Ajouter</b-button>
      </b-form>
    </b-modal>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { ModalPlugin } from "bootstrap-vue";
import movies from "@/json/movies.json";

@Component
export default class Comments extends Vue {
  @Prop() movieID!: number;
  comment!: string;
  movies_parse = movies;
  resetComp: String = "";

  data() {
    return {
      comment: ""
    };
  }

  mounted() {
    this.$bvModal.show("comment-modal");
    this.$root.$on("bv::modal::hidden", () => {
      this.$emit("reset-comp", this.resetComp);
    });
  }

  onSubmit(evt: Event) {
    evt.preventDefault();
    this.movies_parse[this.movieID].comments.unshift(this.comment);
    this.$bvModal.hide("comment-modal");
  }
}
</script>
