<template>
  <div class="me">
    <b-row>
      <b-col sm="3" class="profile">
        <b-img fluid rounded="circle" src="@/assets/filip.jpg"></b-img>
      </b-col>
      <b-col>
        <h2 class="headline-color">A propos</h2>
        <p class="text-justify">
          Je suis <b>Philippe</b>, Full Stack Developer avec de solides
          compétences en administrattion Systèmes et Réseaux.
        </p>
        <b-row>
          <b-col style="padding-left: 0px;">
            <h3 class="headline-color">Contact</h3>
            <p class="address">
              <span>Bi Philippe IRIE</span><br />
              <span
                >Angré Djibi, Cocody<br />
                Abidjan, Côte d'Ivoire BP 2596 </span
              ><br />
              <span>+225 58319260</span><br />
              <span>biphilippeirie@gmail.com</span>
            </p>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Me extends Vue {}
</script>
<style scoped>
.me {
  background: #2b2b2b;
  padding-top: 70px;
  padding-bottom: 50px;
  color: #7a7a7a;
  text-align: left;
}
.row {
  max-width: 1020px;
  margin: 0 auto;
}
.headline-color {
  color: aliceblue;
}
.profile {
  margin-right: 100px;
}
</style>
