<template>
  <b-card class="cardb">
    <b-card-body>
      <b-card-title
        >{{ title }} <span class="sr-only">{{ id }}</span></b-card-title
      >
      <b-card-sub-title
        >{{ year }} - {{ genre }} - {{ duration }}</b-card-sub-title
      >
      <br />
      <b-card-text>{{ resume }}</b-card-text>
    </b-card-body>
    <b-button
      @click="openComments(id)"
      pill
      variant="outline-info"
      class="to-bottom"
      >NOTEZ CE FILM</b-button
    >
  </b-card>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import MovieList from "./MovieList.vue";

@Component
export default class Movie extends Vue {
  @Prop() title!: string;
  @Prop() year!: string;
  @Prop() genre!: string;
  @Prop() duration!: string;
  @Prop() resume!: string;
  @Prop() openComment!: any;
  @Prop() id!: Number;

  openComments(id: Number) {
    // this.$parent.swapComponent(id);
    this.$emit("openup", id);
  }
}
</script>
<style>
.cardb {
  min-width: 30%;
}
.to-bottom {
  position: sticky;
  bottom: 0px;
}
</style>
