<template>
  <div>
    <!-- <b-button @click="swapComponent()" pill variant="outline-info" class="to-bottom">NOTEZ CE FILM</b-button> -->
    <b-card-group>
      <movie
        v-for="movieData in moviesDataList"
        :key="movieData.id"
        :id="movieData.id"
        :title="movieData.title"
        :year="movieData.year"
        :genre="movieData.genre"
        :duration="movieData.duration"
        :resume="movieData.resume"
        @openup="swapComponent"
      />
    </b-card-group>
    <component
      :is="currentComponent"
      :movieID="movieDataId"
      @reset-comp="resetComponentValue"
    ></component>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Movie from "./Movie.vue";
import Comments from "./Comments.vue";
import movies from "@/json/movies.json";

@Component({
  components: {
    Movie,
    Comments
  }
})
export default class MovieList extends Vue {
  currentComponent!: String;
  movieDataId!: any;

  data() {
    return {
      moviesDataList: movies,
      currentComponent: null,
      movieDataId: 0
    };
  }

  swapComponent(movieId: Number) {
    // console.log('enter+++++++++++++');
    this.currentComponent = "Comments";
    this.movieDataId = movieId;
  }

  resetComponentValue(componentValue: String) {
    this.currentComponent = componentValue;
  }
}
</script>
