<template>
  <div class="skills">
    <b-row>
        <b-col sm="3" class="profile">
          <h1><span>FORMATION</span></h1>
        </b-col>
        <b-col>
          <b-row>
            <h3>GROUPE CSI POLE POLYTECHNIQUE</h3><br>
            <p class="info">Licence Professionnelle en Sciences Informatiques <span>&bull;</span> <em class="date">2012 - 2014</em></p>

            <!-- <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
            </p> -->
          </b-row>
          <b-row>
            <h3>UNIVERSITE NANGUI ABROGOUA</h3>
            <p class="info">DEUG Sciences Fondamentales et Appliquées <span>&bull;</span> <em class="date">2009 - 2010</em></p>

            <!-- <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
            </p> -->
          </b-row>
        </b-col>
    </b-row>
    <hr>
    <b-row>
        <b-col sm="3" class="profile">
          <h1><span>EXPERIENCE</span></h1>
        </b-col>
        <b-col>
          <b-row>
            <h3>HARRELL</h3>
            <p class="info">Chef de Projet Recherche & Développement <span>&bull;</span> Consultance <span>&bull;</span> <em class="date">Novembre 2018 - Aujourd'hui</em></p>

            <p>
            Tâches : <br>
            <ul>
                <li>Définition des projets</li>
                <li>Recensement des besoins clients</li>
                <li>Elaboration de cahier de charges</li>
                <li>Encadrement d'équipe</li>
                <li>Chiffrage des coûts, Suivi et Reporting des projets</li>
            </ul>
            </p>
          </b-row>
          <b-row>
            <h3>DIGITAL AFRIQUE TELECOM</h3>
            <p class="info">Développeur Web <span>&bull;</span> <em class="date">Avril 2018 - Novembre 2018</em></p>
            <p>
                <b>Projets</b>
                <ul>
                    <li>DGI Aggrégateur - Passerelle de Paiement pour les impôts 
                        <dl>Définition des besoins <span>&bull;</span> Implémentation des fonctinnalités <span>&bull;</span> </dl>
                        <dl>Environnement : JAVA - Spring Boot - Angular 5 - Tomcat - Subversion</dl>
                    </li>
                    <li>SOTRA MonPass 
                        <dl>Définition des besoins <span>&bull;</span> Implémentation des fonctinnalités <span>&bull;</span> Correction de bugs <span>&bull;</span> Rapport et mise à jour</dl>
                        <dl>Environnement : JAVA - Spring Boot - AngularJs - Tomcat - Subversion</dl>
                    </li>
                </ul>
            </p>
          </b-row>
        </b-col>
    </b-row>
    <hr>
    <b-row>
        <b-col sm="3" class="profile">
          <h1><span>COMPETENCES</span></h1>
        </b-col>
        <b-col>
          <h5>FRONTEND</h5>
          <b-progress :max="max" height="2rem" class="progress">
            <b-progress-bar :value="frontendValue" class="fill"></b-progress-bar>
          </b-progress>
          <h5>BACKEND</h5>
          <b-progress :max="max" height="2rem" class="progress">
            <b-progress-bar :value="backendValue" class="fill"></b-progress-bar>
          </b-progress>
          <h5>INFRASTRUCTURE</h5>
          <b-progress :max="max" height="2rem" class="progress">
            <b-progress-bar :value="infrasctructureValue" class="fill"></b-progress-bar>
          </b-progress>
          <h5>ARCHITECTURE D'APPLICATIONS</h5>
          <b-progress :max="max" height="2rem" class="progress">
            <b-progress-bar :value="architectureValue" class="fill"></b-progress-bar>
          </b-progress>

        </b-col>
    </b-row>
    <hr>
    <b-row>
        <b-col sm="3" class="profile">
          <h1><span>TECHNOLOGIES</span></h1>
        </b-col>
        <b-col>
          <b-img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Logo Angular" class="tech"></b-img>
          <b-img src="https://nodejs.org/static/images/logo.svg" class="tech" alt="Logo NodeJS"></b-img>
          <b-img src="https://loopback.io/images/global/loopback-full-logo-blue.svg" class="apache" alt="Logo LoopBack"></b-img>
          <b-img src="https://laravel.com/img/logomark.min.svg" class="tech" alt="Logo Laravel"></b-img>
          <b-img src="https://www.php.net/images/logos/php-logo.svg" class="tech" alt="Logo PHP"></b-img>
          <b-img src="https://www.docker.com/sites/default/files/d8/styles/role_icon/public/2019-07/vertical-logo-monochromatic.png?itok=erja9lKc" class="tech" alt="Logo Docker"></b-img>
          <b-img src="https://www.nginx.com/wp-content/uploads/2019/01/logo.svg" class="techs" alt="Logo Nginx"></b-img>
          <b-img src="https://git-scm.com/images/logo@2x.png" class="techs" alt="Logo Git"></b-img>
          <b-img src="https://www.apache.org/logos/res/httpd/default.png" class="apache" alt="Logo Apache"></b-img>
          <b-img src="https://assets.ubuntu.com/v1/8dd99b80-ubuntu-logo14.png" class="apache" alt="Logo Ubuntu"></b-img>
          <b-img src="https://www.apache.org/logos/res/activemq/default.png" class="apache" alt="Logo ActiveMQ"></b-img>
          <b-img src="https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg" class="tech" alt="Logo ExpressJS"></b-img>
          <b-img src="https://www.w3.org/html/logo/img/mark-only-icon.png" class="tech" alt="Logo HTML5"></b-img>
          <b-img src="https://seeklogo.com/images/L/Linux_Tux-logo-DA252F3C21-seeklogo.com.png" class="tech" alt="Logo Linux"></b-img>
          <b-img src="https://seeklogo.com/images/C/css3-logo-F1923C8D0E-seeklogo.com.png" class="apache" alt="Logo CSS3"></b-img>
          
          

        </b-col>
    </b-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Skills extends Vue{
  data() {
      return {
          max: 100,
          frontendValue: 55,
          backendValue: 70,
          infrasctructureValue: 75,
          architectureValue: 75
      }
  }
}
</script>
<style scoped>
*, ::after, ::before {
    box-sizing: content-box;
}
p {
    width: 100%;
}
.skills {
    background: rgb(240, 236, 236);
    padding-top: 70px;
    padding-bottom: 50px;
    color: #7A7A7A;
    text-align: left;
}

.row {
    max-width: 1020px;
    margin: 0 auto;
}

.headline-color {
    color: aliceblue;
}

.profile {
    margin-right: 100px;
}

h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}

.fill {
    background: rgb(223, 63, 35);
}

.progress {
    background: rgb(116, 117, 119);
}

.info {
    font-size: 16px;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}

.info span {
    margin-right: 5px;
    margin-left: 5px;
}

.date {
    font-size: 15px;
    margin-top: 6px;
}

.tech {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.techs {
    /* width: 70px; */
    /* height: 60px; */
    margin: 20px;
}

.apache {
    width: 150px;
    margin: 20px;
}



</style>